@import './_colors';

.toasted-container {
	display: block;
	position: fixed;
	z-index: 1000;

	&.top-right {
		top: 10%;
		right: 3%;
	}

	&.top-left {
		top: 10%;
		left: 3%;
	}

	&.top-center {
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
	}

	&.bottom-right {
		right: 3%;
		bottom: 7%;
	}

	&.bottom-left {
		left: 3%;
		bottom: 7%;
	}

	&.bottom-center {
		left: 50%;
		transform: translateX(-50%);
		bottom: 7%;
	}

	&.top-left .toasted, &.bottom-left .toasted {
		float: left;
	}

	&.top-right .toasted, &.bottom-right .toasted {
		float: right;
	}

	.toasted {
		top: 35px;
		clear: both;
		margin-top: 10px;
		position: relative;
		max-width: 300px;
		height: auto;
		word-break: break-all;
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 0 20px;
		border-radius: 4px;
		min-height: 38px;
		line-height: 1.1em;
		background: transparent;
		padding: 6px 20px;
		font-size: 15px;
		font-weight: 300;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

		&.dark {
			color: #FFFFFF;
		}

		&.light {
			color: #000000;
		}

		@each $color, $contents in $colors {
			&.#{$color} {
				@each $key, $value in $contents {
					@if $key == base {
						background: $value;
					}
					@else {
						&.#{$key} {
							background: $value;
						}
					}
				}
			}
		}

		.message {
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.material-icons, .fas, .fab, .far {
			margin-right: .5rem;
			margin-left: -.4rem;
		}
	}
}
